.root {
  width: 100%;
}

.slider_item {
  width: 100%;
  height: 760px;
}

.center {
  height: 760px;
  display: flex;
  align-items: center;

  color: var(--alternative-text-color);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: start;
}
